@import "mixins";
@import "variables";

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
}

p, div {
  font-family: "Roboto", sans-serif;
}

input, select {
  @include main-input;
}

button {
  border-radius: 5px;

  background-color: $primary-color;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 0.25rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}