@import "@/styles/variables.scss";

button.swapCurrencies {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;

  font-size: 1.5rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}