@import "@/styles/mixins";

div.currencyInput {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 13rem;
  cursor: pointer;
  @include main-input;

  p {
    width: 100%;
    font-size: medium;
    margin: 0;
  }
}

div.countryFlag {
  margin-right: 1rem;
}

@media only screen and (max-width: 560px) {
  div.currencyInput {
    width: 100%;
  }
}