@import "../../styles/mixins";

div.historyPanelEntry {
  @include main-block;

  padding: 0.75rem 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
  }

  button {
    aspect-ratio: 1 / 1;
    padding: 0.5rem;
    font-size: medium;
  }
}

