@import "../../styles/variables";

div.amountWithCurrency {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

div.amountInput, div.currencyInput {
  display: flex;
  flex-direction: column;

  label {
    font-size: smaller;
    color: $muted-text-color;
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

@media only screen and (max-width: 560px) {
  div.amountWithCurrency {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}