main.app {
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 560px) {
  main.app {
    width: 100%;
    padding: 0.5rem;

    h1, h2 {
      text-align: center;
    }
  }
}